{% extends 'base.html' %}

{% block content %}
<div class="delete">
<h3>Вход только для определеной количество людей</h3>
<form class="blog-login" method="post" action="">
	    {% csrf_token %}

	    Имя пользователя: <input type="text" class="form-control" name="username" value="" size="50" />
	            <br />
	    Пароль: <input type="password" class="form-control" name="password" value="" size="50" />
	            <br />
            <input class="btn btn-primary" type="submit" value="Вход" />
            <a class="btn btn-primary" href="/register/"> Регистрация</a>
</form>
    </div>

    {% endblock %}